.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('th.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  pre{
      font-weight: 700%;
      color: black;
  }

span{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}

#main{
    padding: 10px;
  box-shadow: 5px 10px 8px 10px #888888;
}
.heading {
    padding-top: 60px;
    padding-bottom: 30px;
    color: #5f5d60;
  }
  .heading h2 {
    font-weight: normal;
  }

  .faq-wrapper {
    background-color: #e6ecf0;
    text-align: center;
    padding-bottom: 80px;
    color: #5f5d60;
  }
  .faq-wrapper1 {
    background-color: #e6ecf0;
    text-align: center;
    padding-bottom: 80px;
    color: #5f5d60;
  }
  #display{
      margin: 5%;
      padding: 1%;
  }
  .form{
      background-color: white;
      opacity: 0.75;
      height: 100%;
      width: 50%;
      margin-left: 25%;
  }
  .form:hover{
      opacity: 1;
  }
  form{
      margin:2%
  }
  #bttn{
      margin-left: 45%;
  }